@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #191A1A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191A1A;
    --foreground: #fff;
  }
}

body {
  color:var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

